html,
body {
    font-family: Arial, sans-serif;
}

ul {
    list-style: none;
}

h1 {
    text-align: center;
}

#movie-list {
    text-align: center;
}

.liButton {
    text-transform: capitalize;
    background-color: lightblue;
    color: blue;
    width: 200px;
    height: 70px;
    text-align: center;
    font-weight: 700;
    font-size: 85%;
    border-radius: 10px;
}

.list-group-item {
    border: none;
}

.navbar-brand {
    font-size: 30px;
}

